<footer class="main_footer">
    <ul class="links">
        <li>
            <a class="link_item" href="https://github.com/koksha19">GitHub</a>
        </li>
        <li>
            <a class="link_item" href="https://www.linkedin.com/in/levbereza/">LinkedIn</a>
        </li>
        <li>
            <a class="link_item" href="https://t.me/levbereza">Telegram</a>
        </li>
    </ul>
</footer>
</body>
</html>