<%- include('./includes/head') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('./includes/navigation') %>
<h1 style="justify-self: center">Page not found</h1>
<%- include('./includes/foot') %>