<%- include('./includes/head') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('./includes/navigation') %>
<h1 style="justify-self: center"><%= error %></h1>
<%- include('./includes/foot') %>