.form {
    margin: 2rem;
    box-shadow: 5px 5px 5px 5px #656464;
    width: 30%;
    text-align: center;
    justify-self: center;
}

.form_item * {
    margin: 0.5rem;
}

.form_item h1 {
    text-align: center;
    margin: 1rem;
}

.form_item div {
    display: grid;
}

.form_item div label {
    margin-left: 1rem;
    justify-self: start;
    font-weight: bold;
    font-size: 1.2rem;
}

.form_item div input {
    height: 2rem;
    font-size: 1rem;
}

.form_item div textarea {
    height: 5rem;
    font-size: 1rem;
}

input[type="file"] {
    margin-left: 2rem;
}

#flash {
    margin: 1rem;
    justify-self: center;
    width: 40%;
    height: 3rem;
    box-shadow: 3px 3px 3px 3px #656464;
    background-color: #ec5151;
    color: white;
    font-weight: bold;
    text-align: center;
    display: none;
    justify-content: center;
}

.invalid {
    border: 1px solid red;
}